<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/to-do.css" />
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <h1>Marcos.</h1>
            </div>
            <div class="right-nav">
                <a href="/social/sign-in" class="btn-one">Sign In</a>
                <a href="/social/sign-up" class="btn-two">Sign Up</a>
            </div>
        </nav>
        <hr>
        <div class="main">
            <div class="left-section">
                <h1>SOCIAL<br>MEDIA</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eligendi neque animi illo mollitia quos, officia quasi! Deserunt, temporibus odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nemo doloremque assumenda dolores. Architecto exercitationem autem, aperiam aut incidunt in.</p>
                <a href="#">MORE&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="right-section">
                <img src="/assets/IMG3.png">
            </div>
        </div>
        <div class="example">
            <a href="/home" id="home-btn">Back to Home</a>
        </div>
    </div>
    
</body>
</html>