<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do - Sign in</title>
    <link rel="stylesheet" href="/to-do-sign-up.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Let's Sign Up</h1>
        </div>
        <div >
            <form action="/social/sign-up" method="post" class="main">
                <div class="flex-column">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Enter your email" name="email" required>
                </div>
                <div class="flex-column">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Enter your username" name="username" required>
                </div>
                <div class="flex-column">
                    <label for="age">Age</label>
                    <input type="number" placeholder="Enter your age" name="age" required>
                </div>
                <div class="flex-column">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter your password" name="password" required>
                </div>
                <div class="btns flex-column">
                    <button type="submit">SIGN UP</button>
                </div>
            </form>
        </div>
        <div class="footer">
            <p>Do you have an account?<span><a href="/social/sign-in"> Sign In</a></span></p>
        </div>
    </div>
    <a href="/social" id="home-btn">Home</a>
</body>
</html>