@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Pangolin&display=swap');

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    background-color: #274472;
    font-family: 'Lato',sans-serif;
}
a {
    text-decoration: none;
}


h1 {
    padding : 20px;
    font-size: 75px;
    text-align: center;
    color: #C3E0E5;
    font-family: 'Pangolin', cursive;
}

h3 {
    color : #C3E0E5;
    text-align: center;
    font-size: 1.5rem;
}
.main-box {
    background-color: #2E8BC0;
    width: 50%;
    height: 300px;
    margin : auto;
    margin-top : 50px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding : 30px; 
    gap : 10px;
}



.main-box textarea, input {
    width: 85%;
    margin : auto;
    border : none;
    border-radius: 6px;
    background-color: #fff;
    height: 50px;
    font-size: 1rem;
    padding : 10px;
}

textarea {
    height: 100px;
}

.form-btns {
    display:flex;
    width: 85%;
    justify-content: space-between;
    margin : auto;
    background-color: transparent;
}



.form-btns a,button {
    cursor: pointer;
    padding : 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    color : #fff;
    border-radius: 6px;
    border : none;
}

.form-btns a:hover,button:hover {
    background-color: white;
    color : black;
}



